.newsSection{
position:relative;

padding:50px;

background-size:cover;
background-position:center;

}

/* dark overlay */

.newsSection::before{
content:'';

position:absolute;
inset:0;

background:rgba(255,255,255,.80);

}

.newsHeader{
position:relative;

display:flex;
justify-content:center;
align-items:center;

margin-bottom:40px;
}

.newsHeader h2{

font-size:48px;
font-weight:700;
}

.allBtn{

position:absolute;
right:0;

background:none;
border:none;

font-size:22px;
cursor:pointer;
}

.newsGrid{

position:relative;

display:grid;
grid-template-columns:repeat(4,1fr);

gap:30px;
}

.newsCard{

background:white;

border-radius:12px;

overflow:hidden;

box-shadow:
0 4px 20px rgba(0,0,0,.08);

}

.newsImage{

width:100%;
height:420px;

object-fit:cover;
}

.newsContent{

padding:25px;

text-align:left;
}

.newsContent h3{

font-size:20px;
line-height:1.5;

margin-bottom:20px;
}

.newsContent p{

font-size:17px;
color:#777;

margin-bottom:20px;
}

.detailBtn{

width:140px;

padding:12px;

background:#1d719d;

color:white;

border:none;

border-radius:6px;

cursor:pointer;
}

.detailBtn:hover{

background:#16597a;
}

@media(max-width:1024px){

.newsGrid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:640px){

.newsGrid{

grid-template-columns:1fr;
}

.newsHeader h2{

font-size:34px;
}

.newsSection{

padding:30px 16px;
}

}